<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<pintle.buildPackage>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.BuildPackage, Pintle.Packager"/>
			</pintle.buildPackage>
		</pipelines>
		<settings>
			<setting name="Pintle.PackageStoragePath" value="/packager" />
		</settings>
	</sitecore>
</configuration>