<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Pintle.Packager.Pipelines.Initialize.RouteMapRegistration, Pintle.Packager"/>
			</initialize>
			<pintle.buildPackage>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.ValidateRequiredParameters, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.SetPackageMetadata, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.AddPackageItems, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.AddPackageFiles, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.SetPackageFilePath, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.GeneratePackage, Pintle.Packager"/>
			</pintle.buildPackage>
		</pipelines>
		<settings>
			<setting name="Pintle.PackageStoragePath" value="/packager" />
		</settings>
	</sitecore>
</configuration>