<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Pintle.Packager.Pipelines.Initialize.RouteMapRegistration, Pintle.Packager"/>
			</initialize>
			<pintle.buildPackage>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.ValidateRequiredParameters, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.SetPackageMetadata, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.AddPackageItems, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.AddPackageFiles, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.SetPackageFilePath, Pintle.Packager"/>
				<processor type="Pintle.Packager.Pipelines.BuildPackage.GeneratePackage, Pintle.Packager"/>
			</pintle.buildPackage>
		</pipelines>
		<settings>
			<setting name="Pintle.PackageStoragePath" value="/packager" />
		</settings>
		<pintle.packager>
			<logger type="Pintle.Packager.Logging.Logger, Pintle.Packager" singleInstance="true">
				<param name="loggerName">PackagerLogger</param>
			</logger>
		</pintle.packager>
		<log4net>
			<appender name="PackagerLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/Pintle.Packager.log.{date}.txt"/>
				<appendToFile value="true"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
				<encoding value="utf-8"/>
			</appender>
			<logger name="PackagerLogger" additivity="false">
				<level value="DEBUG"/>
				<appender-ref ref="PackagerLogFileAppender"/>
			</logger>
		</log4net>
	</sitecore>
</configuration>